.header_wrapper {
  width: 100%;
  height: 50px;
  background: #2196F4;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 999998;

  button {
    margin-left: 20px;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
  }
}
