.wrapper {
  transition: 0.5s all;
  display: block;
  min-height: 100vh;
  box-sizing: border-box;

}

.wrapper[menustate='false'] {
  padding: 30px 100px;
}

.wrapper[menustate='true'] {
  padding: 30px 100px 30px 400px;
}

.tasks_wrapper {
  padding-top: 20px;

  //padding-left: 100px;
  border-bottom: 1px solid grey;
}
