.wrapper {
  display: block;
  background: #e2e2e2;
  min-height: 100vh;
  padding: 30px 100px;
  box-sizing: border-box;
}

.tasks_wrapper {
  padding-left: 100px;
  border-bottom: 1px solid grey;
}
