.inline_task_wrapper {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .task_title {
    position: relative;
    font-weight: bold;
    padding-left: 15px;
    &:after {
      bottom: -5px;
      left: 15px;
      position: absolute;
      content: '';
      width: calc(100% - 15px);
      height: 3px;
      background: black;
    }
  }
}

.inline_task_wrapper[blockstatus='0'] {
  .task_title:after {
    background: red;
  }
}

.inline_task_wrapper[blockstatus='1'] {
  .task_title:after {
    background: green;
  }
}
.inline_task_wrapper[blockstatus='2'] {
  .task_title:after {
    background: #ffda00;
  }
}
.inline_task_wrapper[blockstatus='3'] {
  .task_title:after {
    background: #0073ff;
  }
}

.task_wrapper {
  padding: 20px;
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  background: white;
  border-radius: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}
