.inline_task_wrapper {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .task_title {
    position: relative;
    font-weight: bold;
    padding-left: 15px;
    &:after {
      bottom: -5px;
      left: 15px;
      position: absolute;
      content: '';
      width: calc(100% - 15px);
      height: 3px;
      background: black;
    }
  }
}

.inline_task_wrapper[blockstatus='0'] {
  .task_title:after {
    background: red;
  }
}

.inline_task_wrapper[blockstatus='1'] {
  .task_title:after {
    background: green;
  }
}
.inline_task_wrapper[blockstatus='2'] {
  .task_title:after {
    background: #ffda00;
  }
}
.inline_task_wrapper[blockstatus='3'] {
  .task_title:after {
    background: #0073ff;
  }
}

.task_wrapper {
  min-width: 350px;
  padding: 20px;
  box-shadow: -3px 4px 15px -4px #000000;
  background: white;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;

}

.close_button{
  border: none;
  outline: none;
  color: white;
  padding: 5px;
  background: #f44336;
  &:active{
    background: #dd3d31;
  }
}

.buttons{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
}