.wrapper {
  transition: 0.5s all;
  display: block;
  min-height: 100vh;
  box-sizing: border-box;
}

.wrapper[menustate='false'] {
  padding: 30px 100px;
}

.wrapper[menustate='true'] {
  padding: 30px 100px 30px 400px;
}
